$primary-background: #FFFFFF;
$secondary-background: #D6E6FE;
$primary-text: #253347;
$secondary-text: #5E6E85;
$button-color: #345FF6;
$header-gradient: linear-gradient(90deg,rgba(214, 230, 254, 0.15), $secondary-background);
$header-gradient2: linear-gradient(290deg, rgb(240, 246, 255), rgba(236, 254, 255, 0));
$input-border: 1px solid #D8E2E7;
$card-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25)