@use '../../styles/partials/variables' as*;
@use '../../styles/partials/mixins' as*;

.calculator {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10.5rem;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
    
    &__left-section{
      width:32.25rem;
    }
    &__prompt{
      color: $primary-text;
      font-size:1.5rem;
      font-weight: 600;
    }
  
    
  
    &__right-section{
      width:35.25rem;
      height:30.25rem;
      background: $primary-background;
      border-radius: 16px;
      box-shadow: $card-shadow;
      padding-bottom:2rem;
    }
  
    &__title{
      color: $primary-text;
      font-size: 4rem;
      font-weight: 600;
      line-height: 4.4rem;
      margin-bottom:2.1875rem;
      margin-top:0;
    }
    &__description{
      color: $secondary-text;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.87rem;
      
    }
    &__prompt {
      padding-left:2rem;
      padding-top:2rem;
      margin:0;
    }
}
  
  
  
.user-form {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
    &__radio-section {
        display: flex;
        justify-content: space-between;
        width:24.75rem;
    }
    &__input-section {
        display: flex;
        justify-content: space-between;
        column-gap: 2.5rem;
    }
    &__label{
      font-size: 0.875rem;
      font-weight: 400;
      color: $secondary-text;
      line-height: 21px;
      
    }
    &__user-inputs{
      margin-top: 2rem;
    }
    &__input-area{
      width:14.875rem;
      height:4.3125rem;
      border: $input-border;
      border-radius: 12px;
      margin-top:0.5rem;
    }
    &__input{
      border:none;
      height:1.8125rem;
      width: 8.1875rem;
      color:$primary-text;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 29px;
      &::placeholder{
        color: $primary-text;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 29px;
      }
      margin: 1.25rem 1.5rem;
      &:focus-within{
        outline: none;
      }
    }
    &__unit{
      color: $button-color;
      font-size: 1.5rem;
      font-weight:600;
      line-height: 29px;
    }
}

.results {
    padding:2rem;
    width: 27.25rem;
    height: 6.375rem;
    border-radius:16px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    
    background: $button-color;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__intro{
      color: $primary-background;
      margin:0;
      font-size: 1rem;
      font-weight:600;
      line-height: 24px;
    }
    &__bmi{
      color: $primary-background;
      margin:0;
      font-size: 4rem;
      font-weight:600;
    }
    &__explanation{
      color: #ffffff;
      margin:0;
      font-size: 0.875rem;
      font-weight:400;
      line-height: 21px;
      width:12.875rem;
    }
    &__ideal-weight {
      font-weight: 700;
    }
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__button {
        background:$primary-background;
        border: $input-border;
        border-radius:50%;
        width:31px;
        height:31px;
    }
    &__button--selected {
        
        background:$secondary-background;
        height: 31px;
        width:31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button-inside--active {
        height: 15px;
        width: 15px;
        border-radius:50%;
        background: $button-color;
    }
    &__button-inside--inactive {
        display: none;
    }
    &__label{
        color:$primary-text;
        font-size: 1rem;
        font-weight: 600;
        margin-left:1.125rem;
    }
}
  

