.calculator {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10.5rem;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
    
    &__left-section{
      width:32.25rem;
    }
    &__prompt{
      color:#253347;
      font-size:1.5rem;
      font-weight: 600;
    }
  
    
  
    &__right-section{
      width:35.25rem;
      height:30.25rem;
      background: #ffffff;
      border-radius: 16px;
      box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
      padding-bottom:2rem;
    }
  
    &__title{
      color: #253347;
      font-size: 4rem;
      font-weight: 600;
      line-height: 4.4rem;
      margin-bottom:2.1875rem;
      margin-top:0;
    }
    &__description{
      color: #5E6E85;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.87rem;
      
    }
    &__prompt {
      padding-left:2rem;
      padding-top:2rem;
      margin:0;
    }
}
  
  
  
.user-form {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
    &__radio-section {
        display: flex;
        justify-content: space-between;
        width:24.75rem;
    }
    &__input-section {
        display: flex;
        justify-content: space-between;
        column-gap: 2.5rem;
    }
    &__label{
      font-size: 0.875rem;
      font-weight: 400;
      color: #5E6E85;
      line-height: 21px;
      
    }
    &__user-inputs{
      margin-top: 2rem;
    }
    &__input-area{
      width:14.875rem;
      height:4.3125rem;
      border: 1px solid #D8E2E7;
      border-radius: 12px;
      margin-top:0.5rem;
    }
    &__input{
      border:none;
      height:1.8125rem;
      width: 8.1875rem;
      color:#253347;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 29px;
      &::placeholder{
        color:#253347;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 29px;
      }
      margin: 1.25rem 1.5rem;
      &:focus-within{
        outline: none;
      }
    }
    &__unit{
      color:#345FF6;
      font-size: 1.5rem;
      font-weight:600;
      line-height: 29px;
    }
}

.results {
    padding:2rem;
    width: 27.25rem;
    height: 6.375rem;
    border-top-left-radius:16px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    
    background: #345FF6;
    margin: 2rem;
    &__intro{
      color: #ffffff;
      margin:0;
    }
    &__bmi{
      color: #ffffff;
      margin:0;
    }
    &__explanation{
      color: #ffffff;
      margin:0;
    }
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__button {
        background:#ffffff;
        border: 1px solid #D8E2E7;
        border-radius:50%;
        width:31px;
        height:31px;
    }
    &__button--selected {
        
        background:#D6E6FE;
        height: 31px;
        width:31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button-inside--active {
        height: 15px;
        width: 15px;
        border-radius:50%;
        background: #345FF6;
    }
    &__button-inside--inactive {
        display: none;
    }
    &__label{
        color:#253347;
        font-size: 1rem;
        font-weight: 600;
        margin-left:1.125rem;
    }
}
  

