@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as*;



.limitations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap:1rem;
    row-gap: 1rem;
    padding-left: 2.5rem;
    padding-right:2.5rem;
    padding-bottom: 3rem;
    @include desktop {
        padding: 7.5rem 8.75rem;
    }
    &--mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &__upper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom:2rem;
        margin-right:6.1875rem;

        @include desktop {
            flex-direction: row;
        }
    }
    &__title{
        color: $primary-text;
        font-size: 2rem;
        font-weight: 600;
        line-height: 52px;
        margin-bottom:2.1875rem;
        margin-top:0;
        text-align: center;
        @include desktop {
            font-size: 3rem;
            text-align: left;
        }
    }
    &__description{
        color: $secondary-text;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 2.5rem;
        text-align: center;
        @include desktop {
            text-align: left;
            width: 35.25rem;
            margin-bottom: 0;
        }
    }
    &__mid-section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    &__curve{
        width: 5.875rem;
        margin-left: 10.3125rem;
        position: relative;
        top:-1rem;
    }
    &__middle-section{
        display: flex;
        column-gap: 2rem;
        margin-left: 8.6875rem;
    }
    &__bottom-section {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
}




.limit-card{
    
    padding:0.5rem 2rem;
    background:$primary-background;
    border-radius:16px;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    &--upper {
        width: 14.2125rem;
        height: 14.5rem;
        @include desktop {
            width: 20.8125rem;

        }
    }
    &__upper-section{
        display: flex;
    }
    &__icon{
        margin-right: 1rem;
    }
    &__title{
        color: $primary-text;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;

    }
    &__description{
        color: $secondary-text;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        
        margin: 0;
        @include desktop {
            width: 18.8125rem;
        }
    }
}