@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as*;



.limitations {
    @include flex ($direction: column, $justify: center, $align: center);
    column-gap:1rem;
    row-gap: 1rem;
    padding-left: 1.25rem;
    padding-right:1.25rem;
    padding-bottom: 3rem;
    @include tablet {
        padding-left: 2.5rem;
        padding-right:2.5rem;
    }
    @include desktop {
        padding: 7.5rem 8.75rem;
    }
    &--mobile {
        @include flex($wrap: wrap, $direction: row);
    }
    &__upper{
        @include flex($justify: space-between, $direction: column);
        margin-bottom:2rem;
        margin-right:6.1875rem;

        @include desktop {
            flex-direction: row;
        }
    }
    &__title{
        @include font ($size: 2rem, $weight: 600, $line: 52px);
        margin-bottom:2.1875rem;
        margin-top:0;
        text-align: center;
        @include desktop {
            font-size: 3rem;
            text-align: left;
        }
    }
    &__description{
        @include font($color: $secondary-text, $weight: 400, $size: 1rem, $line: 24px);
        margin-bottom: 2.5rem;
        text-align: center;
        @include desktop {
            text-align: left;
            width: 35.25rem;
            margin-bottom: 0;
        }
    }
    &__mid-section{
        @include flex($justify: space-between, $align: flex-start);
        margin-bottom: 1.5rem;
    }
    &__curve{
        width: 5.875rem;
        margin-left: 10.3125rem;
        position: relative;
        top:-1rem;
    }
    &__middle-section{
        display: flex;
        column-gap: 2rem;
        margin-left: 8.6875rem;
    }
    &__bottom-section {
        @include flex ($justify: center);
        column-gap: 2rem;
    }
}




.limit-card{
    
    padding:0.5rem 2rem 1.5rem 2rem;
    background:$primary-background;
    border-radius:16px;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    &--upper {
        height: 14.5rem;
        @include tablet {
            width: 14.2125rem;
        }
        @include desktop {
            width: 20.8125rem;

        }
    }
    &__upper-section{
        display: flex;
    }
    &__icon{
        margin-right: 1rem;
    }
    &__title{
        @include font($size: 1.25rem, $weight: 600, $line: 24px);
    }
    &__description{
        color: $secondary-text;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        @include font($size: 1rem, $weight: 400, $line: 24px, $color: $secondary-text);
        margin: 0;
        @include desktop {
            width: 18.8125rem;
        }
    }
}